.product-container{
    margin-bottom: 2rem;
    border-radius: 2rem;
    width: 90% !important;
}

.product-separator, .product-options, .similar-products-container{
    width: 80% !important;
}

.similar-products-grid{
    width: 100%;
    height: 10rem;
}

.similar-products-card{
    height: 100%;
    width: 20%;
    justify-content: flex-end !important;
}

.similar-products-card span{
    margin-top: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.similar-products-card img{
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    object-position: center;
    transition: 0.2s;
}

.similar-products-card img:hover{
    transform: scale(1.1);
}

.product-container .left{
    width: 40% !important;
    max-height: 100%!important;
}

.product-container .product-card{
    width: 100% !important;
    height: 100% !important;
    border-radius: 1rem;
}

.product-container .left img{
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    object-position: center;
    transition: 0.2s;
}

.product-container .left:hover img{
    transform: scale(1.1);
}

.product-container .right{
    width: 60% !important;
}

.product-container .product-title{
    line-height: calc(1.3rem + .6vw) !important;
}

.product-container .right .product-rating{
    width: 14rem;
    border-radius: 0.5rem;
}

.product-container .right .product-stock{
    width: 14rem;
    border-radius: 0.5rem;
}

.product-container .right .product-amount button{
    width: 3rem;
    height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.product-container .right .product-amount .value{
    font-size: 1.2rem;
    width: 4rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.product-container .right .product-buttons .product-buy{
    width: 9rem;
    height: 3rem;
}

.product-container .right .product-buttons button{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-container .right .product-buttons .product-add-to-cart{
    width: 15rem;
    height: 3rem; 
}